{% load mathfilters %}
<div class="stars-display text-warning">
    {% with full_stars=rating|floatformat:0|add:0 %}
    {% with decimal_part=rating|sub:full_stars %}
        {% for i in "12345" %}
            {% if forloop.counter <= full_stars %}
                <i class="fas fa-star"></i>
            {% elif forloop.counter == full_stars|add:1 and decimal_part >= 0.3 and decimal_part <= 0.7 %}
                <i class="fas fa-star-half-alt"></i>
            {% elif forloop.counter == full_stars|add:1 and decimal_part > 0.7 %}
                <i class="fas fa-star"></i>
            {% else %}
                <i class="far fa-star"></i>
            {% endif %}
        {% endfor %}
    {% endwith %}
    {% endwith %}
</div>
